<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/carrito.css">
    <script src="https://kit.fontawesome.com/157adaf284.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Tektur&display=swap" rel="stylesheet">
    <title>Carrito DigitalBurguer</title>
</head>
<body>
  <%- include("./partials/header") %>

  <h1>CARRITO</h1>

  <% if (carrito.length === 0) { %>
    <p>El carrito está vacío.</p>
  <% } else { %>
    <ul class="lista-pedidos">
      <% carrito.forEach((item) => { %>
        <li class="pedido">
          <img class="fotopedido" src="<%= item.producto.image %>" alt="<%= item.producto.name %>">
          <div class="pedido-content">
            <h2 class="burguer"><%= item.producto.name %></h2>
            <p>Precio: $<%= typeof item.producto.price === 'number' ? item.producto.price.toFixed(2) : 'Precio no válido' %></p>
            <p>Cantidad: <%= item.quantity %></p>
            <p>Subtotal: $<%= (item.producto.price * item.quantity).toFixed(2) %></p>
            <form action="/cart/carrito/<%= item.producto.id %>/delete?_method=DELETE" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit">Eliminar</button>
            </form>
              
          </div>
        </li>
      <% }); %>
    </ul>
<br>
    <div class="boton-finalizar-compra">
      <button class="boton-formulario">Finalizar compra</button>
    </div>
  <% } %>

  <%- include('./partials/footer') %>
</body>
</html>