<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script src="https://kit.fontawesome.com/157adaf284.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Tektur&display=swap" rel="stylesheet">
    <title>Login DigitalBurguer</title>
</head>
<body>
    
  <%-include("./partials/header")%>  

  <div class="Contenido">
<div>
  <h1 class="tituloPrinc">DIGITAL REGISTER - ACCEDER</h1>
</div>
<form action="/user/login" method="POST" class="form-login">          
    <div class="formulario">
        <input type="email" name="email" id="inputEmail" placeholder="escriba su Email" class="control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
        value="<%= locals.oldData ? oldData.email : null %>">
        <div>
          <small class="erEmail"></small>
        </div>
        <% if (locals.errors && errors.email) { %>
          <div>
            <%= errors.email.msg %>
          </div>         
        <% } %>
      </div> 
     
    <div class="formulario">
       <input type="password" name="password" id="inputPassword" placeholder="Contraseña" class="control">
       <div>
        <small class="erPassword"></small>
      </div>
       <% if (locals.errors && errors.password) { %>
        <div>
          <%= errors.password.msg %>
        </div>         
      <% } %>
    </div> 
    <div class="formulario">
      <label class = "control">Recordame</label>
      <input type="checkbox" name="recordame">
    <div>
      <br>
    <button type="submit" id="button" class="boton-formulario" >Iniciar sesión</button>
    </div>
    <div>
     <p>¿Olvidaste tu contraseña? <a href="/user/PassRecovery">Recupérala aquí</a></p>
    </div>
  </form>
</div>
<script src="/js/RecoveryAlert2.js"></script>
<script src="/js/loginValidator.js"></script>
<%-include ('./partials/footer') %>
</body>
</html>