<!DOCTYPE html>
<html lang="es"></html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/inicio.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- VINCULACION A GOOLE FONTS Y FONTS AWESOME-->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Tektur&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/157adaf284.js" crossorigin="anonymous"></script>
  <title> Profile </title>
</head>

<body>
<%- include('./partials/header') %>

<div class="contentUser">
  <h1 class="tituloPrinc">Hola <%= locals.userLogged.name %></h1>
  <br></br>
  <img class="perfilUser" src="<%=locals.userLogged.avatar %>" alt="Avatar">
  <br></br>
  <p class="card-title">Nombre: <%= locals.userLogged.name %></p>
  <p class="card-title">Nombre de Usuario: <%= locals.userLogged.alias %></p>
  <p class="card-title">Correo Electrónico: <%= locals.userLogged.email %></p>
  <br></br>
  <br></br>
  <section id="content-eliminar-modificar">
    <a href="/user/<%= locals.userLogged.id %>/edit" class="ver-editar">Editar perfil</a>
    <br></br>
    <form id="deleteForm" action="/user/<%= locals.userLogged.id %>/delete?_method=DELETE" method="post">
    <button type="submit" class="ver-eliminar">Eliminar cuenta</button>      
</section>
  <br></br>
</div>

<script src="/js/deleteUserAlert.js"></script>
<br></br>
<%- include('./partials/footer') %>
</body>