<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script src="https://kit.fontawesome.com/157adaf284.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Tektur&display=swap" rel="stylesheet">
    <title>Login DigitalBurguer</title>

</head>
<body>
    
  <%-include("./partials/header")%>  

   
  <div class="Contenido">
    <div>
      <h1 class="tituloPrinc">DIGITAL REGISTER - CREAR CUENTA</h1>
    </div>
    <form action="/user/register" method="POST" class="form-login" enctype="multipart/form-data">
      
      <div class="formulario">
        <input type="text" name="name" id="inputName" placeholder="Nombre completo" class="control" value="">
        <div>
          <small class="erName"><%= locals.errors && locals.errors.find(error => error.param === 'name') ? locals.errors.find(error => error.param === 'name').msg : '' %></small>
        </div>
      </div>
  
      <div class="formulario">
        <input type="text" name="alias" id="inputAlias" placeholder="Nombre de usuario" class="control" value="">
        <div>
          <small class="erAlias"><%= locals.errors && locals.errors.find(error => error.param === 'alias') ? locals.errors.find(error => error.param === 'alias').msg : '' %></small>
        </div>
      </div>  

      <div class="formulario">
        <input type="email" name="email" id="inputEmail" placeholder="Correo electrónico" class="control" value="">
        <div>
          <small class="erEmail"><%= locals.errors && locals.errors.find(error => error.param === 'email') ? locals.errors.find(error => error.param === 'email').msg : '' %></small>
        </div>
      </div>  
 
      <div class="formulario">
        <input type="file" name="avatar" id="inputFile" class="control">
        <div>
          <small class="erFile"><%= locals.errors && locals.errors.find(error => error.param === 'avatar') ? locals.errors.find(error => error.param === 'avatar').msg : '' %></small>
        </div>
      </div> 

      <div class="formulario">
        <input type="password" name="password" id="inputPassword" placeholder="Contraseña" class="control">
        <div>
          <small class="erPassword"><%= locals.errors && locals.errors.find(error => error.param === 'password') ? locals.errors.find(error => error.param === 'password').msg : '' %></small>
        </div>
      </div> 
  
      <div class="formulario">
        <input type="password" name="confirm_password" id="inputRePassword" placeholder="Confirmar contraseña" class="control">
        <div>
          <small class="erRePassword"><%= locals.errors && locals.errors.find(error => error.param === 'confirm_password') ? locals.errors.find(error => error.param === 'confirm_password').msg : '' %></small>
        </div>
      </div> 
  
      <div>
        <button type="submit" class="boton-formulario" id="button">Registrarse</button>
      </div>
  
      <div>
        <p>¿Ya tienes una cuenta? <a href="/user/login">Inicia sesión aquí</a></p>
      </div>
    </form>
  </div> 
  <%-include ('./partials/footer') %>
  <script src="../js/registerValidator.js"></script>
</body>
</html>