<!DOCTYPE html>
<html lang="es"></html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/productoDetail.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- VINCULACION A GOOLE FONTS Y FONTS AWESOME-->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Tektur&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/157adaf284.js" crossorigin="anonymous"></script>
  <title>DigitalBurguer</title>
</head>

<body>
    <%-include("./partials/header")%>

        <h1 class="titulo">DETALLE DEL USUARIO</h1>
        <section id="detalle-producto">
            <div class="contenedor-detalle">
            <div class="producto">
                <img class="fotopedido" src="/images/avatars/<%= user.avatar %>" alt="Imagen de usuario">
                <div class="descripcion">
                    <h2 class="burger"><%= user.name %></h2>
                    <p>Id del usuario: <%= user.id %></p>
                    <p>Alias: <%= user.alias %></p>
                    <p>Correo Electrónico: <%= user.email%></p>
                    <p>Tipo de Usuario: <%= user.user_type %> </p> 
                    </form>
                    <br></br>            
                </div>
            </div>
        </div>
        </section>
        <section id="content-eliminar-modificar">
            <a href="/user/admin/<%= user.id %>/edit" class="ver-editar">Modificar permisos de usuario</a>
            <br></br>
            <form id="deleteForm" action="/user/admin/<%= user.id %>/delete?_method=DELETE" method="post">
            <button type="submit" class="ver-eliminar">Eliminar usuario</button>                  

        </section>
    <%-include ('./partials/footer') %>
    <script src="/js/deleteUserAlert.js"></script>
</body>
</html>