<!DOCTYPE html>
<html lang="es"></html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/productoDetail.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- VINCULACION A GOOLE FONTS Y FONTS AWESOME-->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Tektur&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/157adaf284.js" crossorigin="anonymous"></script>
  <title>DigitalBurguer</title>
</head>

<body>
    <%-include("./partials/header")%>

    <body>
        <h1 class="titulo">DETALLE DEL PRODUCTO</h1>
        <section id="detalle-producto">
            <div class="producto">
                <img class="fotopedido" src="<%= producto.imagen %>" alt="<%= producto.nombre %>">
                <div class="descripcion">
                    <h2 class="burger"><%= producto.nombre %></h2>
                    <p><%= producto.descripcion %></p>
                    <p>Precio: $<%= producto.precio.toFixed(2) %></p>
                    <p>Calorías por porción: <%= producto.calorias %> kcal</p>
                    <p>Grasas por porción: <%= producto.grasas %> g</p>
                    <p>Proteínas por porción: <%= producto.proteinas %> g</p>
                    <p>Carbohidratos por porción: <%= producto.carbohidratos %> g</p>
                    <p>Tamaño de la hamburguesa: <%= producto.tamano %> g</p>
                    <p>Ingredientes adicionales: <%= producto.ingredientesAdicionales.join(', ') %></p>
                    <p>Nivel de picante: <%= producto.picante ? 'Picante' : 'No picante' %></p>
                    <p>Sugerencias de acompañamientos: <%= producto.sugerenciasAcompanamiento.join(', ') %></p>
                    <p>Información adicional: <%= producto.informacionAdicional %></p>
                    <br></br>
                    <a href="#" class="ver-detalle">Añadir al carrito</a>
                </div>
            </div>
        </section>
    </body>

    <%-include ('./partials/footer') %>
</body>
</html>