<!DOCTYPE html>
<html lang="es"></html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/producto.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- VINCULACION A GOOLE FONTS Y FONTS AWESOME-->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Tektur&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/157adaf284.js" crossorigin="anonymous"></script>
  <title>DigitalBurguer</title>
</head>

<body>
    <%-include("./partials/header")%>

    <h1 class="titulo">PRODUCTOS</h1>
    <section id="productos" class="menu">
        <% products.forEach((producto, index) => { %>
            <div class="producto">
                <img class="fotopedido" src="<%= producto.imagen %>" alt="<%= producto.nombre %>">
                <div class="descripcion">
                    <h2 class="burger"><%= producto.nombre %></h2>
                    <p><%= producto.descripcion %></p>
                    <p>Precio: $<%= producto.precio.toFixed(2) %></p>
                    <a href="/products/<%= producto.id %>/detail" class="ver-detalle">Ver detalle</a>
                    <br></br>
                    
                </div>
            </div>
        <% }); %>
    </section>
    <div>
    <a href="/products/create" class="boton-crear-producto">Crear Producto</a>
</div>
<br></br>
    <%-include ('./partials/footer') %>
</body>
</html>