<!DOCTYPE html>
<html lang="es"></html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/inicio.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- VINCULACION A GOOLE FONTS Y FONTS AWESOME-->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Tektur&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/157adaf284.js" crossorigin="anonymous"></script>
  <title> Profile </title>
</head>

<body>
<%- include('./partials/header') %>

<div class="contentUser">
  <h1 class="tituloPrinc">Hola <%= user.nombre_completo %></h1>
  <br></br>
  <img class="perfilUser" src="<%= user.avatar %>" alt="Avatar">
  <br></br>
  <p class="card-title">Nombre: <%= user.nombre_completo %></p>
  <p class="card-title">Nombre de Usuario: <%= user.nombre_usuario %></p>
  <p class="card-title">Correo Electrónico: <%= user.correo_electronico %></p>
  <br></br>
  <br></br>
  <div>
    <p><a class="boton-formulario" href="/user/editProfile">Editar Perfil</a></p>
  </div>
  <br></br>
</div>



<%- include('./partials/footer') %>