<!DOCTYPE html>
<html lang="es"></html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/inicio.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- VINCULACION A GOOLE FONTS Y FONTS AWESOME-->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Tektur&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/157adaf284.js" crossorigin="anonymous"></script>
  <title> Profile </title>
</head>

<body>
<%- include('./partials/header') %>

<div class="contenido">
  <h1>Perfil de Usuario</h1>
  <p>Nombre: <%= user.nombre_completo %></p>
  <p>Nombre de Usuario: <%= user.nombre_usuario %></p>
  <p>Correo Electrónico: <%= user.correo_electronico %></p>
  <img src="/images/avatars/<%= user.avatar %>" alt="Avatar">

  <!-- Add more profile information as needed -->

  <a href="/">Volver a la página principal</a>
</div>

<%- include('./partials/footer') %>